<div class="form-group">
	<div class="radio">
    	<label>
        	<input type="radio" id="option_overwrite" name='option[]' value="2" >Overwrite Download
        	<div id="overwrite_status">
        		<br>
        		<label>Select Overwrite Status</label>
        		<select name="overwrite_status" class="form-control" style="width:60px;">
        			<option selected="selected" value="1">1</option>
        			<option value="2">2</option>
        			<option value="3">3</option>
        			<option value="4">4</option>
        		</select>
        	</div>
        </label>
	</div>  
</div>
<script type="text/javascript">
	$('#overwrite_status').hide();
	$('input:radio[name="option[]"]').click(function(){
		($('input:radio[name="option[]"]:checked').val() == '2' ) ? $('#overwrite_status').show() : $('#overwrite_status').hide();
	});
</script>